
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Rubik', sans-serif;
  
  overflow: hidden; 
  box-sizing: border-box;
}

h1, h3 {
  font-weight: 400;
}


.weatheria {
  height: 100vh;    
  width: 100vw;
  position: relative;
  color: #fff;
  transition: 500ms;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
}


#bg-video {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;       
}


.container {
  flex: 1; 
  padding: 2em 3em 4em 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > div {
  display: flex;
  align-items: center;
}

.city-time, .temp, .weather {
  margin: 0 1em;
}

.city-name h1 {
  margin: 0 0 0.3em 0;
  font-size: 3em;
}

.temp {
  font-size: 7em;
  margin: 0;
}

.weather img {
  display:block;
  margin: 2em 2;
}
.icon {
  filter: drop-shadow(0 0 4px rgba(255,255,255,0.6));
}


.condition {
  position: relative;
  top: 10px;
  left: 6px;
}


.panel {
  width: 40%;
  height: 100%;
  background: rgba(110,110,110,0.25);
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.18);
  padding: 3em 2em;
  overflow-y: auto; 
}

.panel form {
  margin-bottom: 3em;
  position: relative;
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5em;
  margin: 0;
  border: none;
  outline: none;
  background: #fa6d1b;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.submit:hover {
  background-color: rgb(243, 249, 243) !important;
  color: #000000;
}

.search {
  background: none;
  border: none;
  border-bottom: 1px #ccc solid;
  padding: 0 1em 0.5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}


.panel ul {
  padding: 0 0 1em 0;
  margin: 2em 0;
  border-bottom: 1px #ccc solid;
}

.panel ul li {
  color: #ccc;
  margin: 2.5em 0;
}

.panel ul h4 {
  margin: 3em 0;
}

.city {
  display: block;
  cursor: pointer;
}

.city:hover {
  color: #fff;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details li:hover {
    color:#fff;
}


@media screen and (max-width: 800px) {
  html, body {
    overflow-x:scroll;
    overflow-y: auto;  
    height: auto;
  }

  .weatheria {
    flex-direction: column; 
  }

  .panel, .container {
    width: 100%;
    height: auto;
    position: relative;
  }

  .panel {
    min-height: 50vh; 
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
